* {
    margin     : 0;
    padding    : 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

body {
    width     : 100%;
    height    : 100vh;
    overflow-y: scroll;
}


.first-section,
.footer {
    width           : 100%;
    background-color: #1F2937;
    color           : white;
}

.third-section {
    background-color: #E5E7EB;
}

.fourth-section {
    background-color: #3882F6;
}
.navbar,
.header,
.second-section,
.second-section .images {
    display        : flex;
    margin         : 0 auto;
    width          : 80%;
}
/* Navbar */
.navbar {
    justify-content: space-between;
    align-items    : center;
    padding        : 15px;
}

.navbar .logo {
    font-size   : 24px;
    color       : #F9FAF8;
    padding-left: 10px;
}

.navbar .links {
    display        : flex;
    justify-content: space-around;
}

.navbar .links a {
    color          : #F9FAF8;
    padding        : 14px 20px;
    text-decoration: none;
    float          : right;
}

.navbar .link:hover {
    background-color: #2f3e53;
}

/* Header */
.header {
    height: 470px;

    justify-content: space-between;
    align-items: center;
}

.secondary-text-links {
    display: block;
    width  : 40%;
    margin-right: 30px;
}

.header .secondary-text-links h1 {
    padding    : 20px 0;
    font-size  : 48px;
    font-weight: bolder;
    color      : #F9FAF8;
}

.header .secondary-text-links p {
    color    : #E5E7EB;
}

.header .secondary-text-links button{
    margin-top: 17px;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 17px;
    border-radius: 10px;
    border: none;
}

.header img {
    width : 500px;
    height: 300px;
}

/* second section */
.second-section{
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 500px;
}

.second-section h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 10px;
    margin: 0 auto;
}
.second-section .images{
    justify-content: space-around;
    align-items: center;
}

.second-section .image-text{
    width: 200px;
    padding: 20px;
}

.second-section button{
    padding: 80px;
    border: 3px solid #3882F6;
    background-color: #fff;
    border-radius: 7px;
    margin-bottom: 10px;
}

.second-section .subtext{
    text-align: center;
}

/* Footer */
.footer {
    padding        : 25px;
    display        : flex;
    align-items    : center;
    justify-content: space-around;
}